<!DOCTYPE html>
<html lang="ja" ng-app="sdrModule">
    <head>
        <title>test angularJS 1</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    </head>
    <body>
        <div ng-controller="mainController">
            <form name="formtest">
                
                価格:前<input name="price" type="number" ng-model="price" ng-change="myCompare()" max=55000 min=0>
                <br />
                価格:後<input name="price_new" type="number" ng-model="price_new" ng-change="myCompare()" max=55000 min=0>
                <br />
                
                
                <button type="submit" ng-click="c_flag()" ng-hide="is_ng">送信</button>
                
                <p ng-show="rule_flag.compare_ng">price は price_new 以下でなくてはいけません</p>
            </form>
        </div>
        <script>
            angular.module('sdrModule', []);
            
            angular.module('sdrModule')
            
                .config(['MyLogProvider', function(MyLogProvider){
                    MyLogProvider.default.comment = 'test comment';
                }])
                
                .value('CONST',
                       {
                           MESSAGES : {
                                complete: '成功しました',
                                failed: '失敗しました'
                           },
                            FRUITS : {
                                red : 'apple',
                                yellow : 'banana'
                            }
                       }
                )
                
                .service('fruitsService', ['$log', function($log){
                    this.custom_calc = function(a, b){
                        var result = (a > 10) ? a + b : a -b ;
                        return result;
                    }
                }])
            
                .provider('MyLog', function(){
                    this.default = {comment: 'コメントです'};
                    this.$get = ['$log', function($log){
                       var add_comment = this.default.comment;
                       return {
                            info : function(messages){
                                $log.info(add_comment + messages);
                            }   
                       }
                    }];
                })
                
            
                .controller('mainController', ['$scope', 'CONST', 'fruitsService', 'MyLog', function($scope, CONST, fruitsService, MyLog){
                    
                    //初期化処理
                    $scope.normal_input = '';
                    $scope.price = 5000;
                    $scope.price_new = 5000;
                    
                    $scope.rule_flag = {
                        compare_ng : null
                    };
                    
                    //入力制御
                    $scope.myCompare = function (){
                        
                        $scope.rule_flag.compare_ng = null;
                        console.log ($scope.rule_flag.compare_ng);
                        
                        if ($scope.price > $scope.price_new) {
                            $scope.price = $scope.price_new;
                            $scope.rule_flag.compare_ng = true;
                        } else {
                            $scope.rule_flag.compare_ng = false;
                        }
                        
                    }
                    
                    
                    
                    //formtest の有効性確認オブジェクト
                    $scope.validation = {
                        
                        is_valid : true,
                        
                        is_ang_validation : null,
                        is_compare : true,
                        
                        checkFormVal : function(token) {
                            
                            //price と price_new に値があるときだけ、比較処理を実行
                            if ($scope.price != null && $scope.price_new != null) {
                                this.compare();
                            }
                            
                            //Angularの検証と比較検証が true の時に、フォーム全体のフラグを true にする
                            if (token === true && this.is_compare === true) {
                                this.is_valid = true;
                            } else {
                                this.is_valid = false;
                            }
                            console.log('AngularJS 制御入力検証: ' + token);
                            console.log('数値比較検証: ' + this.is_compare);
                            console.log('フォーム全体' + this.is_valid);
                        },
                        
                        compare : function(token){
                        
                                if ($scope.price <= $scope.price_new) {

                                    this.is_compare = true;
                                }else {

                                    this.is_compare = false;    
                                }
                        }
                        
                        
                    };
                    
//                    console.log($scope.validation.is_ang_validation);
//                    $scope.validation.checkFormVal();
                    
                    $scope.V = {
                        
                        is_send_ok : true,
                        
                        flags : [
                            {name: 'test1', flag: true, method: function(){console.log('test1');} },
                            {name: 'test2', flag: true, method: function(){console.log('test2');} },
                            {name: 'test3', flag: true, method: function(){console.log('test3');} },
                        ]
                    };
                    
                    console.log($scope.V.flags);
                    
                    for (var i = 0; i < $scope.V.flags.length; i++) {
                        console.log($scope.V.flags[i].name);
                        console.log($scope.V.flags[i].flag);
                        console.log($scope.V.flags[i].method);
                    }
                    
                    
                    
                }]);
        </script>
    </body>
</html>